div{
    margin-top: 80px;
    padding: 80px ;
    border: 20px solid hsl(0, 0%, 0%);
    
    text-align: center;
}


iframe{
    background-color: rgb(176, 243, 255);
}


div, iframe{
    background-color: rgb(247, 111, 111);
}

